* {
    margin: 0;
    padding: 0;
}
.row{
    text-align: center;
    align-items: center;
}

body {
    background: linear-gradient(to right, rgba(57, 49, 175), rgba(0, 198, 255));
    overflow-x: hidden;
}

.assignment-1 {

    text-align: center;
}

.assignment {
    margin-top: 8px;

    /* padding: 1%; */
    background-size: contain;
    /* height:100%; */
    /* margin-left: 61px;  */
}

.text1 {
    color: white;
}


.assignment-1 input {
    border: none;
    border-radius: 24px;
}

.assignment-2 {
    background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.assignment .assignment-form {
    padding: 10%;
    margin-top: 7%;

}

.assignment-heading {
    text-align: center;
    margin-top: 6%;
    margin-bottom: -12%;
}

.badge badge-pill badge-light {
    width: 75px;
    height: 30px;
}

#b1 {
    border-radius: 16px;
}

.form-group span {
    color: red;
    justify-content: left;
    display: flex;
    /* float: left; */
}

label {
    float: left;
}

#security {
    text-align: left;
}

#submit {
    border-radius: 56px;
    ;
}

#user_table {
    border-collapse: collapse;
    /* overflow:auto ; */
    width: 60%;

}

#table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    /* border-bottom: 1px solid black ; */
}

thead {
    text-align: center;
}

th,
td {
    padding: 10px;
    overflow: auto;
    border: 2px solid black !important;
    text-align: center;
    color: rgb(238, 219, 219);
}

@media (max-width: 585px) {

    th,
    td {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 430px) {

    th,
    td {
        font-size: 7px;
        padding: 3px;
    }
}

@media screen and (max-width: 768px) {
    .assignment-2 {
        border-top-left-radius: 0% 0%;
        border-bottom-left-radius: 0% 0%;
        border-radius: 5%;
    }

    .assignment {
        padding: 10%;
    }

    .btn-light {
        margin-top: -5%;
        margin-bottom: 10%;
    }
}
